.barra-superior {
    height: 50px;
}

.text-slider-uno, .text-slider-dos {
    display: table;
    text-align: center;
}

.text-slider-uno h1, .text-slider-dos h1 {
    position: absolute;
    font-size: 4em;
    margin: 0;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-slider-uno img {
    position: absolute;
    width: 20%;
    height: auto;
    font-size: 4em;
    margin: 0;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-slider-uno h2, .text-slider-dos h2 {
    position: absolute;
    font-size: 2.5em;
    margin: 0;
    left: 50%;
    top: 47%;
    transform: translate(-50%, -50%);
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-slider-uno a, .text-slider-dos a {
    position: absolute;
    margin: 2em;
    left: 47%;
    top: 55%;
    transform: translate(-50%, -50%);
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.text-icons-slider {
    font-size: 12px;
}

.seccion-dos {
    height: 500px;
    background-image: url('../images/telerehabilitacion-para-bogota.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.seccion-dos .col-6 {
    height: 400px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.seccion-dos .col-6 h3 {
    font-size: 2em;
}

.seccion-dos .col-6 p {
    font-size: 1.5em;
    text-align: center;
}

.seccion-tres {
    height: 800px;
    background-image: url('../images/dudas-fisioterapia.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.seccion-tres .col-5 {
    height: 600px;
    font-size: 13px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.seccion-tres .col-5 h3 {
    font-size: 2em;
}

.seccion-tres .col-5 p {
    font-size: 14px;
    text-align: center;
}

.seccion-cuatro {
    height: 600px;
    background-image: url('../images/fisioterapia-en-linea-en-bogota-colombia.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.seccion-cuatro .col-5 {
    height: 500px;
    font-size: 13px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.seccion-cuatro .col-5 h3 {
    font-size: 2em;
}

.seccion-cuatro .col-5 p {
    font-size: 1em;
    text-align: center;
}

.seccion-cinco {
    height: 700px;
    background-image: url('../images/Fisioterapia-virtual-en-bogota.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.seccion-cinco .col-6 {
    height: 650px;
    font-size: 13px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.seccion-cinco .col-6 h3 {
    font-size: 2em;
}

.seccion-cinco .col-6 p {
    font-size: 1em;
    text-align: center;
}

.seccion-siete {
    height: 700px;
    background-image: url('../images/fisioterapia-y-rehabilitacion.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.seccion-siete .col-5 {
    height: 500px;
    font-size: 13px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.seccion-siete .col-5 h3 {
    font-size: 2em;
}

.seccion-siete .col-5 p {
    font-size: 1em;
    text-align: center;
}

.seccion-nueve img {
    width: 80%;
    height: auto;
}

.seccion-diez {
    margin-top: 90px;
}

.seccion-once {
    height: 650px;
}

.seccion-once img {
    width: 70%;
    height: auto;
    margin-top: 80px;
}

.seccion-doce {
    height: 600px;
    background-image: url('../images/Telerehabilitacion-bogota.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.seccion-doce h2, p {
    margin-top: 10px;
}

.seccion-trece {
    height: 600px;
    background-image: url('../images/telerehabilitacion-en-colombia-bogota-1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.seccion-trece img {
    width: 20%;
    height: auto;
}

#stars i {
    color: #ff8c00;
}

.seccion-doce {
    height: 700px;
}

.seccion-catorce {
    height: 500px;
}

.seccion-catorce h3, p {
    text-align: center;
}

.pie-pagina {
    height: 250px;
}

.pie-pagina img {
    width: 25%;
    height: auto;
}

.ir-arriba {
    display: none;
    background-repeat: no-repeat;
    font-size: 20px;
    color: black;
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 2;
}

.acerca-uno {
    height: 700px;
    background-image: url('../images/Doctora-Adriana-Lucia-Ramirez-Bonilla.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.acerca-dos {
    height: 700px;
    background-image: url('../images/Dra-Adriana-Lucia-Ramirez-Bonilla.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.acerca-tres {
    height: 500px;
    background-image: url('../images/Dra-Adriana-Lucia-Ramirez-Bonilla-bogota.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.acerca-cuatro {
    height: 550px;
    background-image: url('../images/dra-adriana-lucia-ramirez.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.acerca-cinco {
    height: 400px;
    background-image: url('../images/Dra-Adriana-lucia-scaled.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.nace-uno {
    height: 600px;
    background-image: url('../images/como-nace-fysiopuntura.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.nace-dos {
    height: 600px;
    background-image: url('../images/telerehabilitacion-y-fisiopuntura-en-bogota.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.nace-tres {
    height: 700px;
    background-image: url('../images/cOMO-NACE-FYSIPUNTURA.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.nace-cuatro {
    height: 450px;
    background-image: url('../images/fisioterapia-online-en-bogota-colombia.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.nace-cinco {
    height: 400px;
    background-image: url('../images/fisioterapia-online-.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.teler-uno {
    height: 800px;
    background-image: url('../images/Telerehabilitacion1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.teler-dos {
    height: 700px;
    background-image: url('../images/Fisioterapia-online-en-bogota-colombioa-fisiopuntura.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.teler-tres {
    height: 600px;
    background-image: url('../images/fisioterapia-online-en-bogota.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.teler-cuatro {
    height: 600px;
    background-image: url('../images/Telerehabilitacion-en-bogota-online.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.teler-cinco {
    height: 800px;
    background-image: url('../images/telerehabilitacion-en-colombia-bogota-2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.cuello-uno .col-5 {
    margin-top: 100px;
}