/* Small devices (landscape phones, 320px and up) */

@media (min-width: 320px) {
    .img1-carousel, .img2-carousel {
        height: 520px;
        width: 100%;
    }
    .carrusel-top .titulo-slide1 {
        font-weight: 600;
        margin-bottom: 30px;
    }
    .carrusel-top .subtitulo-slide1 {
        font-weight: 500;
        margin-bottom: 30px;
    }
    .carrusel-top .titulo-slide2 {
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 30px;
    }
    .carrusel-top .subtitulo1, .carrusel-top .subtitulo2, .carrusel-top .subtitulo3 {
        font-weight: 500;
        font-size: 22px;
        margin-left: 5px;
    }
    .enlace-slide2 {
        margin-top: 30px;
    }
    .seccion-dos {
        height: 700px;
    }
    .seccion-dos h3 span {
        font-size: 22px !important;
    }
    .seccion-dos span {
        font-size: 16px !important;
    }
    .seccion-dos .columna {
        padding: 30px !important;
    }
    .seccion-tres {
        height: 1600px;
    }
    .seccion-tres img {
        height: 40px;
        padding: 5px;
        margin-bottom: 10px;
    }
    .seccion-tres .columna {
        padding: 30px;
    }
    .seccion-tres h3 {
        font-size: 22px !important;
    }
    .seccion-tres h4 {
        font-size: 20px !important;
        margin-bottom: 40px;
    }
    .texto-sec3 {
        margin-bottom: 30px;
    }
    .seccion-cuatro {
        height: 1400px;
    }
    .seccion-cuatro .columna {
        padding: 30px;
    }
    .seccion-cuatro img {
        height: 40px;
        padding: 5px;
    }
    .seccion-cuatro h3 {
        font-size: 22px !important;
        font-weight: 600;
    }
    .seccion-cuatro h4 {
        font-size: 20px !important;
        font-weight: 500;
        margin-bottom: 30px;
    }
    .seccion-cuatro .texto-sec4 {
        margin-bottom: 20px;
    }
    .seccion-cinco {
        height: 900px;
    }
    .seccion-cinco h3 {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 30px;
    }
    .seccion-cinco .texto-sec4 {
        margin-top: 20px;
    }
    .seccion-cinco .columna {
        padding: 30px;
    }
    .seccion-cinco iframe {
        width: 220px;
    }
    .seccion-cinco .enlace-video {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .seccion-seis .columna {
        padding: 40px;
    }
    .seccion-seis h4 {
        font-weight: 600;
    }
    .seccion-siete {
        height: 1100px;
    }
    .seccion-siete .columna {
        padding: 30px;
    }
    .seccion-siete .h3 {
        font-size: 22px !important;
        font-weight: 600;
    }
    .seccion-siete .h4 {
        margin-bottom: 30px;
    }
    .seccion-siete img {
        width: 40px;
        padding: 5px;
    }
    .seccion-siete .texto-sec7 {
        margin-bottom: 20px;
    }
    .seccion-nueve .fila {
        margin-top: 60px;
    }
    .seccion-nueve a {
        margin-bottom: 60px;
    }
    .seccion-nueve img {
        width: 200px;
    }
    .seccion-diez {
        height: 900px;
    }
    .seccion-once {
        height: 1500px;
    }
    .seccion-once img {
        width: 200px;
        margin-bottom: 30px;
    }
    .seccion-once h3 {
        font-weight: 600;
        margin-bottom: 30px;
    }
    .seccion-once .texto-sec11 {
        margin-bottom: 20px;
    }
    .seccion-once a {
        margin-bottom: 40px;
    }
    .seccion-doce {
        height: 800px;
    }
    .seccion-doce .img-counter {
        margin-top: 150px;
    }
    .seccion-doce h3 {
        margin-bottom: 60px;
    }
    .seccion-trece {
        height: 1800px;
    }
    .seccion-trece p {
        font-size: 14px !important;
    }
    .seccion-trece .swiper-slide {
        max-width: 100%;
    }
    .seccion-trece .row {
        margin-top: 40px;
    }
    .seccion-trece .fa-star {
        color: yellow;
    }
    .seccion-catorce {
        height: 1100px;
    }
    .seccion-catorce h2 {
        margin-top: 100px;
        margin-bottom: 60px;
    }
    /* Página Acerca */
    .acerca-uno {
        height: 1000px;
    }
    .acerca-uno h3 {
        margin-bottom: 30px;
    }
    .acerca-uno .columna1 {
        padding: 20px;
    }
    .acerca-dos {
        height: 1000px;
    }
    .acerca-dos h3 {
        margin-bottom: 30px;
    }
    .acerca-dos .columna2 {
        padding: 20px;
    }
    .acerca-tres {
        height: 1000px;
    }
    .acerca-tres h3 {
        margin-bottom: 30px;
    }
    .acerca-tres .columna3 {
        padding: 20px;
    }
    .acerca-cuatro {
        height: 700px;
    }
    .acerca-cuatro h3 {
        margin-bottom: 30px;
    }
    .acerca-cuatro .columna4 {
        padding: 20px;
    }
    .acerca-cinco {
        height: 700px;
    }
    .acerca-cinco h3 {
        margin-bottom: 30px;
    }
    .acerca-cinco .columna5 {
        padding: 20px;
    }
    .nace-uno {
        height: 1000px;
    }
    .nace-uno h3 {
        margin-bottom: 30px;
    }
    .nace-uno .columna1 {
        padding: 30px;
    }
    .nace-dos {
        height: 1300px;
    }
    .nace-dos h3 {
        margin-bottom: 30px;
    }
    .nace-dos .columna2 {
        padding: 30px;
    }
    .nace-tres {
        height: 1200px;
    }
    .nace-tres h3 {
        margin-bottom: 30px;
    }
    .nace-tres .columna3 {
        padding: 30px;
    }
    .nace-cuatro {
        height: 700px;
    }
    .nace-cuatro h3 {
        margin-bottom: 30px;
    }
    .nace-cuatro .columna4 {
        padding: 30px;
    }
    .nace-cinco {
        height: 700px;
    }
    .nace-cinco h3 {
        margin-bottom: 30px;
    }
    .nace-cinco .columna5 {
        padding: 30px;
    }
    .teler-uno {
        height: 1700px;
    }
    .teler-uno h3 {
        margin-bottom: 30px;
    }
    .teler-uno .columna1 {
        padding: 30px;
    }
    .teler-dos {
        height: 1000px;
    }
    .teler-dos h3 {
        margin-bottom: 30px;
    }
    .teler-dos .columna2 {
        padding: 30px;
    }
    .teler-tres {
        height: 1400px;
    }
    .teler-tres h3 {
        margin-bottom: 30px;
    }
    .teler-tres .columna3 {
        padding: 30px;
    }
    .teler-cuatro {
        height: 800px;
    }
    .teler-cuatro h3 {
        margin-bottom: 30px;
    }
    .teler-cuatro .columna4 {
        padding: 30px;
    }
    .teler-cuatro img {
        width: 200px;
    }
    .teler-cinco {
        height: 1500px;
    }
    .teler-cinco h3 {
        margin-bottom: 30px;
    }
    .teler-cinco .columna5 {
        padding: 30px;
    }
    .dolores {
        height: 2000px;
    }
    .dolores h4 {
        font-size: 18px;
        font-weight: 500;
    }
    .dolores .titulo {
        font-size: 24px;
        margin-top: 60px;
        font-weight: 600;
    }
    .dolores .subtitulo {
        font-size: 18px;
    }
    .fisio-uno {
        height: 600px;
    }
    .fisio-uno .columna {
        padding: 30px;
    }
    .fisio-dos {
        height: 1400px;
    }
    .fisio-dos .columna {
        padding: 30px;
    }
    .fisio-dos img {
        width: 40px;
        padding: 5px;
    }
    .fisio-tres {
        height: 1300px;
    }
    .fisio-tres .columna {
        padding: 30px;
    }
    .fisio-tres img {
        width: 40px;
        padding: 5px;
    }
    .cuello h2 {
        font-size: 24px;
        font-weight: 600;
    }
    .cuello h3 {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 40px;
    }
    .espalda h2 {
        font-size: 24px;
        font-weight: 600;
    }
    .espalda h3 {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 40px;
    }
    .rodilla h2 {
        font-size: 24px;
        font-weight: 600;
    }
    .rodilla h3 {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 40px;
    }
    .pie-pagina {
        height: 400px;
    }
    .pie-pagina img {
        width: 100px;
        margin-top: 60px;
        margin-bottom: 30px;
    }
    .blog-header {
        height: 300px;
    }
}

/* Small devices (landscape phones, 667px and up) */

@media (min-width: 666px) {
    .img1-carousel, .img2-carousel {
        height: 620px;
        width: 100%;
    }
    .carrusel-top .titulo-slide1 {
        font-size: 42px !important;
        font-weight: 600;
        margin-bottom: 20px;
    }
    .carrusel-top .subtitulo-slide1 {
        font-weight: 500;
        margin-bottom: 40px;
    }
    .carrusel-top .titulo-slide2 {
        font-size: 46px !important;
        font-weight: 600;
        margin-bottom: 30px;
    }
    .carrusel-top .subtitulo1, .carrusel-top .subtitulo2, .carrusel-top .subtitulo3 {
        font-weight: 500;
        font-size: 26px;
        margin-left: 5px;
    }
    .enlace-slide2 {
        margin-top: 30px;
    }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .carrusel-top .titulo-slide1 {
        font-size: 48px !important;
        font-weight: 600;
        margin-bottom: 20px;
    }
    .carrusel-top .subtitulo-slide1 {
        font-weight: 500;
        margin-bottom: 40px;
    }
    .carrusel-top .titulo-slide2 {
        font-size: 50px !important;
        font-weight: 600;
        margin-bottom: 30px;
    }
    .carrusel-top .subtitulo1, .carrusel-top .subtitulo2, .carrusel-top .subtitulo3 {
        font-weight: 500;
        font-size: 26px;
    }
    .carrusel-top .img-subtitulo2 {
        margin-left: 30px;
    }
    .enlace-slide2 {
        margin-top: 30px;
    }
    .seccion-catorce p {
        font-size: 24px;
    }
    .articulos-blog img {
        width: 150px;
    }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .img1-carousel, .img2-carousel {
        height: 820px;
        width: 100%;
    }
    .carrusel-top .titulo-slide1 {
        font-size: 100px !important;
        font-weight: 600;
        margin-bottom: 30px;
    }
    .carrusel-top .subtitulo-slide1 {
        font-size: 60px !important;
        font-weight: 500;
        margin-bottom: 30px;
    }
    .carrusel-top .titulo-slide2 {
        font-size: 100px !important;
        font-weight: 600;
        margin-bottom: 30px;
    }
    .carrusel-top .subtitulo1, .carrusel-top .subtitulo2, .carrusel-top .subtitulo3 {
        font-weight: 500;
        font-size: 50px;
        margin-left: 5px;
    }
    .carrusel-top a {
        margin-top: 60px;
        font-size: 20px;
    }
    .seccion-dos {
        height: 700px;
    }
    .seccion-dos h3 span {
        font-size: 32px !important;
    }
    .seccion-dos span {
        font-size: 22px !important;
        line-height: 1.6;
    }
    .seccion-dos .columna {
        padding: 40px !important;
    }
    .seccion-tres {
        height: 1000px;
    }
    .seccion-tres img {
        height: 70px;
        padding: 5px;
    }
    .seccion-tres .columna {
        padding: 40px;
    }
    .seccion-tres h3 {
        font-size: 34px !important;
    }
    .seccion-tres .texto-sec3 {
        font-size: 20px;
        margin-left: 30px;
    }
    .seccion-cuatro {
        height: 1000px;
    }
    .seccion-cuatro .columna {
        padding: 40px;
    }
    .seccion-cuatro img {
        height: 70px;
        padding: 5px;
    }
    .seccion-cuatro h3 {
        font-size: 28px !important;
        font-weight: 600;
    }
    .seccion-cuatro h4 {
        font-size: 24px !important;
        font-weight: 500;
        margin-bottom: 50px;
    }
    .seccion-cuatro .texto-sec4 {
        margin-bottom: 20px;
        font-size: 20px;
        margin-left: 30px;
    }
    .seccion-cinco {
        height: 900px;
    }
    .seccion-cinco h3 {
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 60px;
    }
    .seccion-cinco .texto-sec5 {
        margin-top: 60px;
        font-size: 20px;
    }
    .seccion-cinco .columna {
        padding: 40px;
    }
    .seccion-cinco iframe {
        width: 620px;
        height: 310px;
    }
    .seccion-cinco .enlace-video {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 20px;
    }
    .seccion-seis .columna {
        padding: 60px;
    }
    .seccion-seis h4 {
        font-weight: 600;
    }
    .seccion-seis ul, .seccion-seis ol {
        font-size: 22px;
    }
    .seccion-siete {
        height: 900px;
    }
    .seccion-siete .columna {
        padding: 50px;
    }
    .seccion-siete .h3 {
        font-size: 30px !important;
        font-weight: 600;
    }
    .seccion-siete .h4 {
        margin-bottom: 30px;
        font-size: 24px;
    }
    .seccion-siete img {
        width: 60px;
        padding: 5px;
    }
    .seccion-siete .texto-sec7 {
        font-size: 20px;
        margin-bottom: 24px;
    }
    .seccion-nueve .fila {
        margin-top: 200px;
    }
    .seccion-nueve a {
        font-size: 22px;
        margin-top: 60px;
    }
    .seccion-nueve img {
        width: 400px;
    }
    .seccion-diez {
        height: 700px;
    }
    .seccion-diez h3 {
        font-size: 40px;
    }
    .seccion-diez p {
        font-size: 22px;
    }
    .seccion-once {
        height: 1000px;
    }
    .seccion-once img {
        width: 100%;
        margin-bottom: 30px;
    }
    .seccion-once h3 {
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 30px;
    }
    .seccion-once .texto-sec11 p {
        font-size: 18px;
        margin-bottom: 24px;
    }
    .seccion-once a {
        font-size: 16px;
        margin-bottom: 40px;
    }
    .seccion-doce {
        height: 500px;
    }
    .seccion-doce .img-counter, .seccion-doce .img-counter1, .seccion-doce .img-counter2 {
        margin-top: 150px;
    }
    .seccion-doce h3 {
        margin-bottom: 60px;
    }
    .seccion-trece {
        height: 800px;
    }
    .seccion-trece p {
        font-size: 20px !important;
    }
    .seccion-trece .swiper-slide {
        max-width: 100%;
    }
    .seccion-trece .row {
        margin-top: 40px;
    }
    .seccion-trece .fa-star {
        color: yellow;
    }
    .seccion-catorce {
        height: 800px;
    }
    .seccion-catorce .fila {
        padding-top: 50px;
    }
    .seccion-catorce h2 {
        margin-top: 200px;
        margin-bottom: 60px;
    }
    /* Página Acerca */
    .acerca-uno {
        height: 1000px;
    }
    .acerca-uno h3 {
        margin-bottom: 30px;
        font-size: 30px;
    }
    .acerca-uno p, .acerca-dos p, .acerca-tres p, .acerca-cuatro p, .acerca-cinco p {
        font-size: 20px;
    }
    .acerca-uno .columna1 {
        padding: 40px;
    }
    .acerca-dos {
        height: 1000px;
    }
    .acerca-dos h3 {
        margin-bottom: 30px;
    }
    .acerca-dos .columna2 {
        padding: 40px;
    }
    .acerca-tres {
        height: 1000px;
    }
    .acerca-tres h3 {
        margin-bottom: 30px;
    }
    .acerca-tres .columna3 {
        padding: 40px;
    }
    .acerca-cuatro {
        height: 700px;
    }
    .acerca-cuatro h3 {
        margin-bottom: 40px;
    }
    .acerca-cuatro .columna4 {
        padding: 40px;
    }
    .acerca-cinco {
        height: 700px;
    }
    .acerca-cinco h3 {
        margin-bottom: 30px;
    }
    .acerca-cinco .columna5 {
        padding: 40px;
    }
    .nace-uno {
        height: 1000px;
    }
    .nace-uno h3 {
        margin-bottom: 30px;
        font-size: 30px;
    }
    .nace-uno p, .nace-dos p, .nace-tres p, .nace-cuatro p, .nace-cinco p {
        font-size: 20px;
    }
    .nace-uno .columna1 {
        padding: 40px;
    }
    .nace-dos {
        height: 1000px;
    }
    .nace-dos h3 {
        margin-bottom: 30px;
    }
    .nace-dos .columna2 {
        padding: 40px;
    }
    .nace-tres {
        height: 1000px;
    }
    .nace-tres h3 {
        margin-bottom: 30px;
    }
    .nace-tres .columna3 {
        padding: 40px;
    }
    .nace-cuatro {
        height: 700px;
    }
    .nace-cuatro h3 {
        margin-bottom: 40px;
    }
    .nace-cuatro .columna4 {
        padding: 40px;
    }
    .nace-cinco {
        height: 700px;
    }
    .nace-cinco h3 {
        margin-bottom: 30px;
    }
    .nace-cinco .columna5 {
        padding: 40px;
    }
    .teler-uno {
        height: 1100px;
    }
    .teler-uno h3 {
        font-size: 30px;
        margin-bottom: 30px;
    }
    .teler-uno div {
        font-size: 20px;
    }
    .teler-uno .columna1 {
        padding: 40px;
    }
    .teler-dos {
        height: 1000px;
    }
    .teler-dos h3 {
        font-size: 30px;
        margin-bottom: 30px;
    }
    .teler-dos h4 {
        font-size: 26px;
    }
    .teler-dos div {
        font-size: 20px;
    }
    .teler-dos .columna2 {
        padding: 30px;
    }
    .teler-tres {
        height: 1100px;
    }
    .teler-tres h3 {
        font-size: 30px;
        margin-bottom: 30px;
    }
    .teler-tres div {
        font-size: 20px;
    }
    .teler-tres .columna3 {
        padding: 30px;
    }
    .teler-cuatro {
        height: 800px;
    }
    .teler-cuatro h4 {
        font-size: 30px;
        margin-bottom: 30px;
    }
    .teler-cuatro p {
        font-size: 20px;
    }
    .teler-cuatro .columna4 {
        padding: 30px;
    }
    .teler-cuatro img {
        width: 300px;
    }
    .teler-cinco {
        height: 1200px;
    }
    .teler-cinco h3 {
        font-size: 30px;
        margin-bottom: 30px;
    }
    .teler-cinco ul {
        font-size: 20px;
    }
    .teler-cinco .columna5 {
        padding: 30px;
    }
    .fisio-uno {
        height: 600px;
    }
    .fisio-uno .columna {
        padding: 30px;
        font-size: 20px;
        margin-right: 60px;
    }
    .text-fisiouno p {
        font-size: 20px;
    }
    .fisio-dos {
        height: 900px;
    }
    .fisio-dos .columna {
        padding: 30px;
        font-size: 20px;
    }
    .fisio-dos img {
        width: 40px;
        padding: 5px;
    }
    .fisio-tres {
        height: 700px;
    }
    .fisio-tres .columna {
        font-size: 20px;
        padding: 30px;
    }
    .fisio-tres img {
        width: 40px;
        padding: 5px;
    }
    .cuello h2 {
        margin-top: 60px;
        font-size: 34px;
        font-weight: 600;
    }
    .cuello h3 {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 40px;
    }
    .card-header {
        font-size: 22px;
        font-weight: 600;
    }
    .espalda h2 {
        margin-top: 60px;
        font-size: 34px;
        font-weight: 600;
    }
    .espalda h3 {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 40px;
    }
    .rodilla h2 {
        margin-top: 60px;
        font-size: 34px;
        font-weight: 600;
    }
    .rodilla h3 {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 40px;
    }
    .contacto {
        height: 200px;
    }
    .contacto1 {
        height: 400px;
    }
    .contacto1 h2 {
        font-weight: 600;
    }
    .contacto1 li {
        font-size: 20px;
    }
    .dolores {
        height: 1200px;
    }
    .articulos-blog img {
        width: 300px;
    }
    .pie-pagina {
        height: 550px;
    }
    .pie-pagina img {
        width: 100px;
        padding-top: 100px;
        margin-bottom: 30px;
    }
    .pie-pagina .menu-footer, .pie-pagina p {
        font-size: 20px;
    }
    .blog-header {
        height: 300px;
    }
    .dolores .titulo {
        font-size: 34px;
        margin-top: 60px;
        font-weight: 600;
    }
    .dolores .subtitulo {
        font-size: 24px;
    }
    .contactanos {
        height: 800px;
    }
    .contactanos .cabecera {
        padding-top: 100px;
    }
    .documentacion {
        height: 700px;
    }
    .documentacion img {
        width: 300px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}